week-05-automl-training/workflow.json
{
  "name": "Week 5 - Generic vs Fine-Tuned Comparison",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "e0db60ac-e857-44a3-b0e8-5b5275076354",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app3p7Qr54r0LhhQQ",
          "mode": "list",
          "cachedResultName": "Week 5 Model Training",
          "cachedResultUrl": "https://airtable.com/app3p7Qr54r0LhhQQ"
        },
        "table": {
          "__rl": true,
          "value": "tblHFrmgW7XXNtbuM",
          "mode": "list",
          "cachedResultName": "Fine-Tuned Comparison",
          "cachedResultUrl": "https://airtable.com/app3p7Qr54r0LhhQQ/tblHFrmgW7XXNtbuM"
        },
        "filterByFormula": "={input_text} != \"\"",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "b18f6be9-3fa9-4faf-ae04-749f17b9ee00",
      "name": "Search records",
      "credentials": {
        "airtableTokenApi": {
          "id": "IBnsrXxSzgS6ORp6",
          "name": "Airtable Personal Access Token account 55"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "9f0caa09-9542-4737-a019-da02840359c4",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/distilbert/distilbert-base-uncased-finetuned-sst-2-english",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"inputs\": \"{{ $json.input_text }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        0
      ],
      "id": "b46c6e33-e3da-433e-ac39-c49415fb7a01",
      "name": "Generic Sentiment",
      "credentials": {
        "httpHeaderAuth": {
          "id": "lwq8GGBiizIIH178",
          "name": "Header Auth account 18"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4e7e4b62-1c01-44e2-b352-a3d3dbaad006",
              "name": "generic_label",
              "value": "={{ $json[0].label }}",
              "type": "string"
            },
            {
              "id": "3294c7b1-7335-46c8-b9fc-fe091925b3bd",
              "name": "generic_score",
              "value": "={{ $json[0].score }}",
              "type": "string"
            },
            {
              "id": "3488bce3-c569-4616-b965-c8215c77ca4e",
              "name": "=input_text",
              "value": "={{ $('Search records').item.json.fields.input_text }}",
              "type": "string"
            },
            {
              "id": "d79c680a-e92c-449d-a1ac-350994fc38ce",
              "name": "record_id",
              "value": "={{ $('Search records').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        0
      ],
      "id": "1e65d1fe-ff4a-433e-b332-fbdc451066c3",
      "name": "Extract Generic"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/cybersectony/phishing-email-detection-distilbert_v2.4.1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"inputs\": \"{{ $('Search records').item.json.input_text }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        192
      ],
      "id": "00b7dad6-2bbf-408a-890e-16d64d0c58c1",
      "name": "Fine-Tuned A",
      "credentials": {
        "httpHeaderAuth": {
          "id": "lwq8GGBiizIIH178",
          "name": "Header Auth account 18"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8f0be7d0-b90a-4080-9cb3-b03795b33df9",
              "name": "finetuned_a_label",
              "value": "={{ $json[0].label }}",
              "type": "string"
            },
            {
              "id": "7cdb2c68-addb-48b2-af30-05499193e3f7",
              "name": "finetuned_a_score",
              "value": "={{ $json[0].score }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        192
      ],
      "id": "3abeeed1-d93f-416b-aab1-5c215ea0948f",
      "name": "Extract Fine-Tuned A"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/phishbot/ScamLLM",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"inputs\": \"{{ $('Search records').item.json.input_text }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        384
      ],
      "id": "e767afe8-247b-4b73-982c-77baee4a6af0",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "lwq8GGBiizIIH178",
          "name": "Header Auth account 18"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a7db3f46-dce2-4bcc-a453-76b183b2cf4b",
              "name": "finetuned_b_label",
              "value": "={{ $json[0].label }}",
              "type": "string"
            },
            {
              "id": "04701c4a-6fda-409e-984b-ebb251deb2f8",
              "name": "finetuned_b_score",
              "value": "={{ $json[0].score }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        384
      ],
      "id": "c0ea0ca8-d843-477b-958a-b91f61b5cbd6",
      "name": "Extract Fine-Tuned B"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1168,
        176
      ],
      "id": "926fd30f-da71-48c2-a45a-4ea5aa883780",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app3p7Qr54r0LhhQQ",
          "mode": "list",
          "cachedResultName": "Week 5 Model Training",
          "cachedResultUrl": "https://airtable.com/app3p7Qr54r0LhhQQ"
        },
        "table": {
          "__rl": true,
          "value": "tblHFrmgW7XXNtbuM",
          "mode": "list",
          "cachedResultName": "Fine-Tuned Comparison",
          "cachedResultUrl": "https://airtable.com/app3p7Qr54r0LhhQQ/tblHFrmgW7XXNtbuM"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.record_id }}",
            "generic_label": "={{ $json.generic_label }}",
            "generic_score": "={{ $json.generic_score }}",
            "finetuned_a_label": "={{ $json.finetuned_a_label }}",
            "finetuned_a_score": "={{ $json.finetuned_a_score }}",
            "finetuned_b_label": "={{ $json.finetuned_b_label }}",
            "finetuned_b_score": "={{ $json.finetuned_b_score }}",
            "tested_at": "={{ new Date().toISOString() }}",
            "winner": "={{ $json.finetuned_a_score > $json.finetuned_b_score ? \"Fine-Tuned A\" : \"Fine-Tuned B\" }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "input_text",
              "displayName": "input_text",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "generic_label",
              "displayName": "generic_label",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "generic_score",
              "displayName": "generic_score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "finetuned_a_label",
              "displayName": "finetuned_a_label",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "finetuned_a_score",
              "displayName": "finetuned_a_score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "finetuned_b_label",
              "displayName": "finetuned_b_label",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "finetuned_b_score",
              "displayName": "finetuned_b_score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "winner",
              "displayName": "winner",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "tested_at",
              "displayName": "tested_at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        1360,
        192
      ],
      "id": "c3834e0b-96d8-4b87-ab25-1f36a8d27318",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "IBnsrXxSzgS6ORp6",
          "name": "Airtable Personal Access Token account 55"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Generic Sentiment",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fine-Tuned A",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generic Sentiment": {
      "main": [
        [
          {
            "node": "Extract Generic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Generic": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fine-Tuned A": {
      "main": [
        [
          {
            "node": "Extract Fine-Tuned A",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Extract Fine-Tuned B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Fine-Tuned A": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract Fine-Tuned B": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update record": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "57be1810-c99f-4b66-b6e8-a2124285e115",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a69ec37954977b88a479ebfa185a30fc778ae1a13872bdbe9e26e7b8edafd875"
  },
  "id": "UTP5YFIxtaGaB2TC",
  "tags": []
}
